*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header nav .nav2 ul a:hover{
    text-decoration: underline;
    color: brown;
}

img{
    width: 170px;
}


.application-header__search-button {
    height: 1.5rem;
    width: 1.5rem;
    margin: auto;
    color: var(--color-text);
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #f0f0f8;
    border-radius: 9999px;
    border: 1px solid #fff;
    padding-left: 0;
    place-content: center;
}


header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}


header nav .nav2 ul{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 1.5em;
    list-style-type: none;
}

header nav .nav2 ul a{
    text-decoration: none;
    color: black;

}


header{
    background-color: #FFFFFF;
    margin-top: 30px;
}

.button11 {
    appearance: none;
    background-color: #E03131;
    border-radius: 100rem;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Calibre", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: auto;
    line-height: 1;
    padding: 1rem 1.75rem;
    text-decoration: none;
    transition: background-color 200ms ease;
    user-select: none;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
    margin-left: 50px;
}

.logo-ralph-and-wordmark {
    height: 2.5rem;
    width: 10rem;
}


.application-header__mobile-icon {
    fill: #3d3e44;
    transition: fill 200ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.hi{
    /* border: medium solid black; */
}

.he{
    /* border: medium solid black; */
}

.nav1{
    /* border: medium solid black; */
}

.nav2{
    /* border: medium solid black; */
    margin: auto;
}

.searchh{
    /* border: medium solid black; */
}

/* media query */


@media(max-width: 1119px){
    ul li{
        display: none;
    }

    .application-header__mobile-icon {
        fill: #3d3e44;
        transition: fill 200ms ease;
        display: flex;
        align-items: end;
        justify-content: end;
        gap: 2em;
    }

    .he{
        gap: 1em;
    }

    .button11{
        display: none;
    }


    .application-header__search-button {
        height: 2.5rem;
        width: 2.5rem;
        cursor: pointer;
        align-items: center;
        background: #f0f0f8;
        border-radius: 9999px;
        border: 1px solid var(--color-border);
        padding-left: 0;
        place-content: center;
    }

}





/* section2 */



.section2{
    margin-top: 100px;
}


.h1{
    font-size: 1em;
    font-weight: unset;
    margin: 0;
}

.text1{
    font-size: 3em;
    font-weight: 700;
    width: 80%;
}

.text2{
    font-weight: 400;
    font-size: 20px;
    width: 55%;
    line-height: 1.4;
    margin-top: 40px;

}

.button1{
    appearance: none;
    background-color: #E03131;
    border-radius: 100rem;
    border: none;
    color: #Fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Calibre", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    line-height: 1;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: background-color 200ms ease;
    vertical-align: baseline; 
    white-space: nowrap;
    width: auto;
}

/* .button1:hover{
    color: #fff;
    background: #fff;
    border: 10px #babaed;
} */

/* media query */

@media(max-width: 1123px){
    .text1{
        width: 80%;
        font-size: 2.5em;
    }

    .text2{
        font-weight: 400;
        font-size: 20px;
        width: 55%;
        line-height: 1.4;
        /* margin-top: 40px; */
    
    }
}





/* section 3 */

.gridd{
    /* border: medium solid black; */
    grid-auto-flow: row;
}

.gridd .container{
    /* border: medium solid black; */
    height: 200vh;
}

.gridd .container .row{
    height: 200vh;
    /* border: medium solid black; */
}

.column2{
    width: 415px;
    padding-top: 100px;
    text-align: start;
    position: relative;
    left: 140px;
    /* border: medium solid black; */
    height: 100vh;
}

.cta-link, .playbook-content blockquote>p:only-child>a:only-child {
    color: #e03131;
    display: inline-block;
    font-size: var(--font-size-body);
    font-weight: 400;
    margin-top: 1.5rem;
    padding-bottom: 0.125rem;
    transition: border-color 200ms ease;
}